In [ ]:
numeros = [1, 2, 3, 10, 12]

In [ ]:
for numero in numeros:
    if numero == 10:
        break
    print(numero)
else:
    print('Acabou')

1
2
3

In [ ]:
for numero in [0, 18, 56, 77, 95]:
  print(numero)
else:
    print("Acabou")

0
18
56
77
95
Acabou

#programing using commands in which finds pair numbs between 1 to 100
numeros = [1,100,2]

In [ ]:
numeros = [1,101,2]

In [ ]:
for numeros in range(0,101,2):
  print(numeros)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

faça um programa em python (utilize a estrutura for) que leia 10 valores inteiros e : encontre e mostre o maior valor

In [ ]:
maior_valor = None
for i in range (10):
  valor = int(input(f"Digite o {i+1}º valor inteiro: "))
  if maior_valor is None or valor > maior_valor:
        maior_valor = valor
print("O maior valor digitado é:", maior_valor)

Digite o 1º valor inteiro: 2
Digite o 2º valor inteiro: 15
Digite o 3º valor inteiro: 20
Digite o 4º valor inteiro: 50
Digite o 5º valor inteiro: 4
Digite o 6º valor inteiro: 7
Digite o 7º valor inteiro: 9
Digite o 8º valor inteiro: 0
Digite o 9º valor inteiro: 10
Digite o 10º valor inteiro: 22
O maior valor digitado é: 50

Agora encontre e mostre o menor valor

In [ ]:
menor_valor = None
for i in range (10):
  valor = int(input(f"Digite o {i+1}º valor inteiro: "))
  if menor_valor is None or valor < menor_valor:
        menor_valor = valor
print("O menor valor digitado é:", menor_valor)

Digite o 1º valor inteiro: 2
Digite o 2º valor inteiro: 5
Digite o 3º valor inteiro: 7
Digite o 4º valor inteiro: 9
Digite o 5º valor inteiro: 1
Digite o 6º valor inteiro: 90
Digite o 7º valor inteiro: 25
Digite o 8º valor inteiro: 67
Digite o 9º valor inteiro: 54
Digite o 10º valor inteiro: 23
O menor valor digitado é: 1

Agora Calcule e mostre a média dos numeros lidos

In [ ]:
soma = 0
for i in range (10):
  valor = int(input(f"Digite o {i+1}º valor inteiro: "))
  soma += valor
  valor = soma / 10
  print("A média de somatório é:", valor)

Digite o 1º valor inteiro: 26
A média de somatório é: 2.6
Digite o 2º valor inteiro: 14
A média de somatório é: 4.0
Digite o 3º valor inteiro: 15
A média de somatório é: 5.5
Digite o 4º valor inteiro: 5
A média de somatório é: 6.0
Digite o 5º valor inteiro: 10
A média de somatório é: 7.0
Digite o 6º valor inteiro: 4
A média de somatório é: 7.4
Digite o 7º valor inteiro: 6
A média de somatório é: 8.0
Digite o 8º valor inteiro: 7
A média de somatório é: 8.7
Digite o 9º valor inteiro: 3
A média de somatório é: 9.0
Digite o 10º valor inteiro: 10
A média de somatório é: 10.0

Faça um programa em linguagem Python que recebe a temperaturade z cliente e imprima a mensagem de se a temperatura está normal (menor que 37,2°C) ou está em estado febril (37,3°C a 38°C) ou com febre (38°C a 39°C) ou ainda se febre alta (acima de 39°C). No final mostre a quantidade de pessoas analisadas e a média de temperatura.

In [ ]:
TempNormal = 37.2

In [ ]:
int(input('Digite sua temperatura: '))

Digite sua temperatura: 37

37

In [ ]:
if TempNormal <37.2:
  print('Sua Temperatura está Normal. Parabéns! continue se cuidando. ')